HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea/*
!.idea/icon.svg
out
test-output
atlassian-ide-plugin.xml

# Maven artifacts
pom.xml
/target/
